.main-page_container {
    width: 90%;
    max-width: 120em;
    margin: 0 auto;
    padding: 2em 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.movie-list_container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30em, 1fr));
    gap: 1em;
    width: 100%;
    justify-items: center;
    align-items: start;
}

.text_no-data {
    font-size: 1.6em;
    color: #666666;
    margin-top: 5em;
    text-align: center;
}

@media (max-width: 60em) {
    .text_no-data {
        font-size: 1.4em;
        margin-top: 3em;
    }
}
